.swiper-scrollbar {
  background: #e5e6e4 !important;
  height: 3px !important;
}

.swiper-scrollbar:hover {
  cursor: pointer !important;
}

.swiper-scrollbar-drag {
  background: black !important;
  height: 3px !important;
}

@media (max-width: 1000px) {
  .underL .card_text {
    text-decoration-line: underline !important;
  }

  .secondSlider .swiper-scrollbar-horizontal {
    width: 100px !important;
    margin-left: calc(50% - 50px) !important;
  }
}
